
/* screen and é usado em qualquer tela quer for mostrado */

/* tudo que entrar no media query tirar do css */


@media screen and (min-width:0){/* celulares */
    .destaques_principal,.destaques_categorias{
        grid-column: 1/5;
    }

    .destaques_secundario:nth-child(2){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques_secundario:nth-child(3){
        display: none;
        grid-column: none;
        grid-row: none;
        
    }
    .destaques_secundario:nth-child(4){
        display: none;
        grid-column: none;
        grid-row: none;
        
    }
    .destaques_secundario:nth-child(5){
        display: none;
        grid-column: none;
        grid-row: none;
        
    }
    .populares__conteudo{
        flex-direction: column;
    }

    .populares__card{
        width: 100%;
        margin-bottom: 4px;
    }
    
}

@media screen and (min-width:768px) {/* tablets */
    .destaques_principal{
        grid-column: 1/4;
    }
    .destaques_categorias{
        grid-column: 1/3;
    }

    .destaques_secundario:nth-child(2){
        display: flex;
        grid-column: 4/4;
        grid-row: 1/1;
    }
    .destaques_secundario:nth-child(3){
        display: flex;
        grid-column: 4/4;
        grid-row: 2/2;
        
    }
    .destaques_secundario:nth-child(4){
        display: flex;
        grid-column: 4/4;
        grid-row: 3/3;
        
    }
    .destaques_secundario:nth-child(5){
        display: flex;
        grid-column: 3/3;
        grid-row: 3/3;
        
    }
    .populares__conteudo{
        flex-direction: row;
    }

    .populares__card{
        width:calc(20% - 4px) ;
    }
}

@media screen and (min-width:992px) {/* dekstops antigos */
    
}

@media screen and (min-width:1200px) {/* desktops novos e televisoes */
    
}