#font-face{
    font-family: 'font';
    src: url("../fontes/OpenSerif-Book.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

.body{
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
.pagina{
    display: grid;
    margin: 0;
    grid-template-areas: 
    "cabecalho"
    "imagem"
    "explorar"
    "corpo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto auto auto;
}

.cabecalho{
    grid-area: cabecalho;
    background: #4DB79D;
    padding: 5px;
}
.links{
    display: flex;
    position: relative;
    height: 50px;
    top: 22px;
}


.links a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 17px;
    font-family: 'font';
    font-weight: 800;
}

.links :last-child{
    position: relative;
    bottom: 15px; 
}

svg{
    display: inline-block;
    overflow: visible;
    height: 1em;
    padding-top: 8px;
}

.svg-span{
    display: inline-block;
    border: 2px solid transparent;
    padding:  16px;
    padding-bottom: 4px;
    border-radius: 50%;
    color: white;
    height:1em;
    margin-left: 340px;
    background: #3DA087;
}

.imagem{
    grid-area: imagem;
}

.imagem-principal{
    display: flex;
    background-image:url(../imagens_normal/tubo-agua-quente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.imagem__amanco{
    display: block;
    position: relative;
    top: 65px;
    height:140px ;
    
}

.imagem__amanco img{
    width: 570px;
    height: 130px;
}

.imagem__escrita{
    position:relative;
    text-align: center;
    width: auto;
    height: 250px;
    top: -30px;
}

.imagem__escrita :first-child{
    font-family: 'font';
    color: white;
    font-size: 90px;
    margin: 0;
}

.imagem__escrita :last-child{
    color: white;
    font-family: 'font';
    font-size: 20px;
}
.separacao{
    height: 20px;
    background-color:#5FB190 ;
}

.explorar{
    grid-area: explorar;  
}
p{
    margin: 10px;
}
.fundo{
    background-color: #51A684;
    height: 800px;
}

.explorar__texto{
    position: relative;
    top: 50px;
}

.explorar__texto1 , .explorar__texto2{
    display: flex;
    justify-content: center;
    color: white;
}

.explorar__texto1 {
    font-size: 18px;
}

.explorar__texto2{
    font-size: 72px;
}

.circulos{
    display: grid;
    position: relative;
    top: 50px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 25% 25% 25%;
}

#encontrar{

    text-align: center;
    color: white;
    background-color: #15B089;
    padding: 80px 10px;
    border: 3px solid #96dcca;
    border-radius: 50%;
    width: 200px;
    position: relative;
    left: 120px;
    
    grid-row: 2/2;
    grid-column: 2/2;
}

#comprar{
    text-align: center;
    color: white;
    background-color: #83CF78;
    height: 18px;
    width: 130px;
    border: 3px solid #a9dda1;
    border-radius: 50%;
    padding: 40px 5px;
    position: relative;
    margin-top: 80px;
    top: 40px;

    grid-row: 1/1;
    grid-column:3/3 ;
}

#obter{
    text-align: center;
    color: white;
    background-color:#2EC25F ;
    height: 18px;
    width: 130px;
    border: 3px solid #90c5a2;
    border-radius: 50%;
    padding: 40px 5px;
    margin-top: 70px;
    margin-left: 80px;
    position: relative;
    bottom: 20px;

    grid-row: 2/2;
    grid-column: 3/3;
}

#conhecer{
    text-align: center;
    color: white;
    background-color:#007350 ;
    height: 18px;
    width: 200px;
    padding: 80px 10px;
    border: 3px solid #99d6c4 ;
    border-radius: 50%;
    position: relative;
    right: 140px;
    top: 40px;

    grid-row: 1/1;
    grid-column: 4/4;
}

.corpo{
    grid-area: corpo;
}

.dividir{
    height: 20px;
    background-color: #1A77BE;
}

.fundo_azul{
    background-color: #00599D;
    height: 1400px;
}
.escrito__azul{
    position: relative;
    top: 50px;
}

.escrito__azul p{
    margin-top: 0;
    color: white;
    text-align: center;
}
.escrito__azul :first-child{
    font-size: 18px;
}

.escrito__azul :nth-child(2){
    font-size: 72px;
}

.anuncios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 90px;
}

.lancamento{
    border: 1px solid #54728a;
    border-radius: 2%;
    height: 500px;
    background-color: #004789;
}

.imagens{
    height: 300px;
    width: 380px;
    border-top-left-radius:2% ;
    border-top-right-radius: 2%;
}

.anuncio__lancamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
}

.bars svg{
    height: 40px;
    width: 40px;
    color: white;
}

.bars{
    border: 7px solid #1A77BE;
    border-radius: 50%;
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.anuncios__p{
    color: white;
    font-size: 24px;
}


.comercial{
    border: 1px solid #54728a;
    border-radius: 2%;
    height: 500px;
    background-color: #004789;
}

.anuncio_comercial{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.play{
    border: 7px solid #1A77BE;
    border-radius: 50%;
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
}


.play svg{
    margin-top: 3px;
    height: 35px;
    width: 35px;
    color: white;
}

.ralo{
    border: 1px solid #54728a;
    border-radius: 2%;
    height: 500px;
    background-color: #004789;
}

.anuncio_ralo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dividir1{
    height: 20px;
    background-color: #1A77BE;
    margin-top: 225px;
    margin-bottom: 50px;
}

.comentarios{
    display: grid;
    grid-template-areas: 
    "produto"
    "downloads"
    "inovacao"
    "treinamento"
    "geral";

    grid-template-columns: 20% 20% 20% 20% 20%;
}

.letra{
    color: white;
    font-size: 17px;
}

.letra :first-child{
    margin-bottom: 20px;
    font-weight: bold;
}

.produtos{
    display: flex;
    grid-area: produto;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.treinamento .letra :last-child{
    margin-bottom: 60px;
}

.letras1 a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}

 [primeiro]{
    margin-bottom: 20px;
    font-weight: bold;
}

.orbia{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

#imagem1{
    margin-left: 50px;
    height: 80px;
    width: 120px;
}

#imagem2{
    height: 60px;
    width: 300px;
    margin-left: 300px;
}

.palavras{
    width: 450px;
    margin-left: 20px;
    text-align: justify;
    font-size: 12px;
    color: #666666;
}

.direitos{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
    color: #666666;
}

.direitos a{
    color: #666666;
    text-decoration: underline;
}

#direitos__orbia{
    margin-left: 60px;
}

#direitos__palavras{
    display: flex;
    align-items: center;
    margin-left: 200px;
}


@media screen and (min-width:0){
    
}

@media screen and (min-width:768px){
    
}

@media screen and (min-width:992px){
    
}

@media screen and (min-width:1200px){
    
}