#font-face{
    font-family: 'font';
    src: url("../fontes/OpenSerif-Book.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

.body{
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
.pagina{
    display: grid;
    margin: 0;
    grid-template-areas: 
    "cabecalho"
    "imagem"
    "explorar"
    "corpo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto auto auto;
}

.cabecalho{
    grid-area: cabecalho;
    background: #4DB79D;
    padding: 5px;
}
.links{
    display: flex;
    position: relative;
    height: 50px;
    top: 22px;
}


.links a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 17px;
    font-family: 'font';
    font-weight: 800;
}

.links :last-child{
    position: relative;
    bottom: 15px; 
}

svg{
    display: inline-block;
    overflow: visible;
    height: 1em;
    padding-top: 8px;
}

.svg-span{
    display: inline-block;
    border: 2px solid transparent;
    padding:  16px;
    padding-bottom: 4px;
    border-radius: 50%;
    color: white;
    height:1em;
    margin-left: 340px;
    background: #3DA087;
}

.imagem{
    grid-area: imagem;
}

.imagem-principal{
    display: flex;
    background-image:url(../imagens_normal/tubo-agua-quente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.imagem__amanco{
    display: block;
    position: relative;
    top: 65px;
    height:140px ;
    
}

.imagem__amanco img{
    width: 570px;
    height: 130px;
}

.imagem__escrita{
    position:relative;
    text-align: center;
    width: auto;
    height: 250px;
    top: -30px;
}

.imagem__escrita :first-child{
    font-family: 'font';
    color: white;
    font-size: 90px;
    margin: 0;
}

.imagem__escrita :last-child{
    color: white;
    font-family: 'font';
    font-size: 20px;
}
.separacao{
    height: 20px;
    background-color:#5FB190 ;
}

.explorar{
    grid-area: explorar;  
}
p{
    margin: 10px;
}
.fundo{
    background-color: #51A684;
    height: 800px;
}

.explorar__texto{
    position: relative;
    top: 50px;
}

.explorar__texto1 , .explorar__texto2{
    display: flex;
    justify-content: center;
    color: white;
}

.explorar__texto1 {
    font-size: 18px;
}

.explorar__texto2{
    font-size: 72px;
}

.circulos{
    display: grid;
    position: relative;
    top: 50px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 25% 25% 25%;
}

#encontrar{

    text-align: center;
    color: white;
    background-color: #15B089;
    padding: 80px 10px;
    border: 3px solid #96dcca;
    border-radius: 50%;
    width: 200px;
    position: relative;
    left: 120px;
    
    grid-row: 2/2;
    grid-column: 2/2;
}

#comprar{
    text-align: center;
    color: white;
    background-color: #83CF78;
    height: 18px;
    width: 130px;
    border: 3px solid #a9dda1;
    border-radius: 50%;
    padding: 40px 5px;
    position: relative;
    margin-top: 80px;
    top: 40px;

    grid-row: 1/1;
    grid-column:3/3 ;
}

#obter{
    text-align: center;
    color: white;
    background-color:#2EC25F ;
    height: 18px;
    width: 130px;
    border: 3px solid #90c5a2;
    border-radius: 50%;
    padding: 40px 5px;
    margin-top: 70px;
    margin-left: 80px;
    position: relative;
    bottom: 20px;

    grid-row: 2/2;
    grid-column: 3/3;
}

#conhecer{
    text-align: center;
    color: white;
    background-color:#007350 ;
    height: 18px;
    width: 200px;
    padding: 80px 10px;
    border: 3px solid #99d6c4 ;
    border-radius: 50%;
    position: relative;
    right: 140px;
    top: 40px;

    grid-row: 1/1;
    grid-column: 4/4;
}

.corpo{
    grid-area: corpo;
}

.dividir{
    height: 20px;
    background-color: #1A77BE;
}

.fundo_azul{
    background-color: #00599D;
    height: 600px;
}